# ignore all file
/*
# ignore all dotfile
/.*

# specify not ignore file
!/.bash_aliases
!/.bash_profile
!/.bashrc
!/.ideavimrc
!/.vimrc
!/.gitignore
!/.gitconfig
!/.gitmodules
!/.zshrc
!/.common_alias
!/.oh-my-zsh/
!/myscripts/
!/myprofile/
!/MakeFile
!/README.md
!/.config/nvim/

# exclude files
.DS_Store
.netrwhist
.svn
*.pyc
.swp
conf.txt # token file
