# 全ファイルを一度無視
/*
# dotfileを無視
/.*

# 無視したくないファイルを![filename]で指定
!/.bash_aliases
!/.bash_profile
!/.bashrc
!/.ideavimrc
!/.vimrc
!/.gitignore
!/.gitconfig
!/.gitmodules
!/.my_bash_info
!/.git-completion.bash # git補完
!/myscripts/

# この中で除外したいもの
# mac
.DS_Store
.netrwhist
