# ignore all file
/*
# ignore all dotfile
/.*

# specify not ignore file
!/README.md
!/MakeFile
!/myscripts/
!/myprofile/

## common profile
!/.bash_profile
!/.common_alias

## bash
!/.bashrc
!/.bash_aliases

## zsh
!/.zshrc
!/.oh-my-zsh/

## vim
!/.vimrc

## git
!/.gitignore
!/.gitconfig
!/.gitmodules

## neo vim
!/.config/nvim/
!/.vim/rc/

## IntelliJ
!/.ideavimrc

## misc
!/git-misc

## trash folder
!/.old

# exclude files
.DS_Store
.netrwhist
.svn
*.pyc
.swp
conf.txt # token file
